.addJobPage{
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
}

.sideBar{
    flex: 2.5;
    background-image: url('../assets/img/addJobSidebar.png');
    background-size: 100% 100%;
    /* background-repeat: no-repeat; */
}

.sideBar h1{
    position: relative;
    top: 3%;
    text-align: center;
    font-size: 2.5rem;
    color: #ffffff;
}

.addJob{
    flex: 3;
    padding: 2% 5%;
    height: 100vh;
    overflow-y: scroll;
}

.addJobForm{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    justify-content: space-between;
    gap: 10px;
}

.inputBox{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.inputBox label{
    width: 40%;
    /* flex: 2; */
    min-width: 150px;
    font-size: 1.5rem;
    font-weight: 400;
}
.inputBox input , .inputBox textarea , .inputBox select  {
    /* flex: 3; */
    width: 60%;
    min-width: 250px;
    padding: 5px 15px;
    border: 2px solid #c2c2c2;
    border-radius: 4px;
    color: #000;
    font-size: 1rem;
    font-weight: 500;
}
.inputSkillBox{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.inputSkillBox label{
    width: 40%;
    min-width: 150px;
    font-size: 1.5rem;
    font-weight: 400;
}

.skillInput{
    width: 60%;;
}
.skillInput input{
    height: 100%;
    max-height: 40px;
    /* flex: 0; */
    /* height: 40px; */
}

.skillsdiv{
    max-height: 30px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px 0;
}
.skillCard{
    display: flex;
    background: #ffeeee;
    align-items: center;
    justify-content: space-between;
}
.skillCard p{
    min-width: 60px;
    text-align: center;
    font-size: .8rem;
    font-weight: 500;
    color: #000000;
}
.skillCard div{
    background-color: #ff6b6b;
    width: 25px;
    text-align: center;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 0 2px 2px 0;
}

.formActionButtons{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.formActionButtons button{
    width: 15vh;
    min-width: 100px;
    min-height: 40px;
    font-weight: 500;
    font-size: 1.1rem;
    border-radius: 7px;
}

.cancelButton{
    background: none;
    border: 1px solid #cecece;
    color: #c2c2c2;
}

.addJobButton{
    background: #ed5353;
    border: none;
    color: #ffffff;
}