.jobPage{
    background: #FFEFEF;
    
}
/* style={{ height: '15vh', marginTop: '10vh', background: '#ffffff', width:'70%', textAlign: 'center' }} */
.jobPageHeading{
    width: 70%;
    margin-top: 10vh;
    background: #ffffff;
    text-align: center;
    color: black;
    font-weight: 500;
    font-size: 1.75rem;
    padding: 25px 60px;
}

.jobDetailView{
    display: flex;
    flex-direction: column;
    background: #ffffff;
    width: 70%;
    padding: 40px;
    gap: 20px;
}

.skillShown{
    min-width: 100px;
    min-height: 35px;
    background: #ffeeee;
    padding: 8px 15px;
    border-radius: 20px;
    text-align: center;
    color: #595959;
    font-size: 1.5rem;
    font-weight: 400;
}